:root {
    --c1: #048600;
    --c2: #059e00;
    --c3: #8feb25ee;
    --c4: #ddcb05;
    --cw: #fff;
    --cw-t: #ffffffee;
    --cb: #151515;
    --cb-t: #151515ee;
}

.bg-c1 {
    background-color: var(--c1);
}

.bg-c2 {
    background-color: var(--c2);
}

.bg-white-50 {
    background-color: #ffffff80;
}

.bg-dark-50 {
    background-color: #15151580;
}